.home{
    position: absolute;
    top: 0;
    left: 320px;
    height: 100vh;
    width: calc(90% - 250px);
    background-color: white;
    transition: var(--tran-05);
    margin: 30px auto;
    border-radius: 15px 15px 0 0;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 150px;
    height: 100vh;
    width: calc(90% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

.col-2 {
  background-color: #146C94;
}

.layer {
    background-color: white;
    margin: 40px 32px;
    border-radius: 15px 15px 0 0 ;
}

