.carousel-item {
  max-height: 400px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  z-index: 1;
}

.carousel-caption h5 {
  font-size: 3rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

.card {
  border: none;
}

.text-light {
  color: #f8f9fa !important;
}
